body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: --primary-#111317;
   
    overflow-x: hidden; 
   
  }
  .blob{
    position: absolute;
    z-index: 1;
    height:150px;
    border-radius: 20%;
    background-color: #f737f1;
    animation:
  }
  
  .header {
    background-color: #333;
    color: #fff;
    padding: 15px;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    transition: background-color 0.3s ease-in-out, opacity 0.3s ease-in-out;
  }
  .col-md-4 {
    display: inline-block;
    width: 30%;
    margin-right: 10px; 
  }
  
  .row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px; 
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: 20px;
    width:auto;
  }
  
  .col-md-4 {
    margin-bottom: 20px;
  }
  
  .card {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .card-img-top {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .card-body {
    padding: 20px;
  }
  
  .card-title {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .card-text {
    color: #555;
  }
  
  .btn {
    display: inline-block;
    padding: 8px 15px;
    text-decoration: none;
    background-color: #007BFF;
    color: #fff;
    border-radius: 4px;
    transition: background-color 0.3s ease-in-out;
  }
  
  .btn:hover {
    background-color: #0056b3;
  }
  body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: --primary-#111317;
   
    overflow-x: hidden; 
   
  }
  .blob{
    position: absolute;
    z-index: 1;
    height:150px;
    border-radius: 20%;
    background-color: #f737f1;
    animation:
  }
  
  .header {
    background-color: #333;
    color: #fff;
    padding: 15px;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    transition: background-color 0.3s ease-in-out, opacity 0.3s ease-in-out;
  }
  .col-md-4 {
    display: inline-block;
    width: 30%;
    margin-right: 10px; 
  }
  
  .row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px; 
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: 20px;
    width:auto;
  }
  
  .col-md-4 {
    margin-bottom: 20px;
  }
  
  .card {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .card-img-top {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .card-body {
    padding: 20px;
  }
  
  .card-title {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .card-text {
    color: #555;
  }
  
  .btn {
    display: inline-block;
    padding: 8px 15px;
    text-decoration: none;
    background-color: #007BFF;
    color: #fff;
    border-radius: 4px;
    transition: background-color 0.3s ease-in-out;
  }
  
  .btn:hover {
    background-color: #0056b3;
  }
  
  .hide-on-scroll {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
  }
  
  
  .hide-on-scroll {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
  }
  
  