body {
  font-family: "Poppins", sans-serif;
  background-color: var(--primary-color);
}

nav {
  max-width: var(--max-width);
  margin: auto;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  background-color: black;
}

.nav__logo {
  max-width: 100px;
  animation: pulse 1.5s infinite alternate;
  
  
}

.navbar img.w-8 {
  width: 40px; 
  height: auto;
  margin-right: 10px;
  border-radius:0;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

.nav__links {
  list-style: none;
  display: flex;
  align-items: center;
  position: absolute;
padding-left: 175px;
  gap: 3rem;
  opacity: 0;
  animation: slideIn 1s forwards;
  color: aliceblue;
}

@keyframes slideIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.link {
  position: relative;
}

.link a {
  position: relative;
  padding-bottom: 0.75rem;
  color: var(--white);
  transition: color 0.3s ease-in-out;
}

.link a::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  left: 0;
  bottom: 0;
  background-color: var(--secondary-color);
  transition: width 0.3s ease-in-out;
}

.link a:hover {
  color: var(--secondary-color);
}

.link a:hover::after {
  width: 50%;
}

.btn, .btn1 {
  padding: 1rem 1.5rem;
  outline: none;
  border: none;
  font-size: 1rem;
  color: var(--white);
  background-color: var(--secondary-color);
  border-radius: 0px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.btn:hover, .btn1:hover {
  background-color: var(--secondary-color-dark);
  transform: scale(1.05);
}

img {
  width: 100%;
  display: flex;
}

a {
  text-decoration: none;
}

.right-container {
  display: flex;
  gap: 1rem;
}
