<h1>WE ARE GYM AND FITNESS </h1>
<h2>More than just your average fitness retailer</h2>
<div class="story">
    <div class="content">
        <h1>OUR STORY</h1>
        <div class="para">
             <p>At Gym and Fitness, we believe that fitness and wellbeing are the cornerstones of a full and vibrant
                life.
                Established in 2002, we began our journey as a family- </p>
             <p>owned business dedicated to providing exceptional gym equipment at affordable prices. But, we dreamed
                bigger
                than just being an ordinary fitness equipment</p>
             <p>supplier; we aspired to lead the industry</p>


             <p>Two decades later, we are proud to have transformed Gym and Fitness into one of Australia's premier
                online
                retailers of fitness equipment. We've moved beyond</p>

              <p>just supplying gear-we've become advocates for fitness, wellbeing and life enrichment. Our commitment to
                excellence is reflected not only in the quality</p>
             <p>equipment we provide but also in the lives we've improved.</p>

             <p>Our real success lies in the thousands of customers we've empowered to live longer, more joyful, and healthier lives. We're more than just a fitness company –</p>
             <p>we're your partners in health, your cheerleaders on the sideline, motivating you to reach your personal fitness goals. Embrace the fitness journey with us and see</p>
             <p>how it transforms your world.</p>

             <h3>Join us in our mission to improve lives through fitness and wellness, because at Gym and Fitness, your health is our passion.</h3>
            </div>

    </div>
</div>


    <h1>OUR VALUES </h1>
    <div class="para">
    <p>We live and breathe our six core values and six brand promises — they serve as the backbone of our operations and speak of our commitment to improving the</p>
    <p>lives of our customers, supporting our team, championing industry standards, and driving our business with integrity and passion. </p>
</div>
    <div class="container">
       <div class="product-card">
        <img src="assets\People1.jpg" alt="Product Image" class="card-image">
        <div class="card-content">
            <h3 class="card-title">People Centric</h3>
            <p>Prioritising the happiness and wellbeing </p>
            <p>Prioritising the happiness and wellbeing </p>
            <p>Prioritising the happiness and wellbeing </p>
        </div>
    </div>
    <div class="product-card">
        <img src="assets\colloboration.jpg" alt="Product Image" class="card-image">
        <div class="card-content">
            <h3 class="card-title">Colloboration</h3>
            <p>Prioritising the happiness and wellbeing </p>
            <p>Prioritising the happiness and wellbeing </p>
            <p>Prioritising the happiness and wellbeing </p>
            `
        </div>
    </div>
    <div class="product-card">
        <img src="assets\Continuous1.jpg" alt="Product Image" class="card-image">
        <div class="card-content">
            <h3 class="card-title">Continuous</h3>
            <p>Prioritising the happiness and wellbeing </p>
            <p>Prioritising the happiness and wellbeing </p>
            <p>Prioritising the happiness and wellbeing </p>
            `
        </div>
    </div>



</div>
<div class="container">
    <div class="product-card">
        <img src="assets\Emapthy.jpg" alt="Product Image" class="card-image">
        <div class="card-content">
            <h3 class="card-title">Emapthy</h3>
            <p>Prioritising the happiness and wellbeing </p>
            <p>Prioritising the happiness and wellbeing </p>
            <p>Prioritising the happiness and wellbeing </p>
            `
        </div>
    </div>

    <div class="product-card">
        <img src="assets\inclusivity.jpg" alt="Product Image" class="card-image">
        <div class="card-content">
            <h3 class="card-title">inclusivity</h3>
            <p>Prioritising the happiness and wellbeing </p>
            <p>Prioritising the happiness and wellbeing </p>
            <p>Prioritising the happiness and wellbeing </p>
            `
        </div>
    </div>

    <div class="product-card">
        <img src="assets\Nimba1.jpg" alt="Product Image" class="card-image">
        <div class="card-content">
            <h3 class="card-title">Nimabagility</h3>
            <p>Prioritising the happiness and wellbeing </p>
            <p>Prioritising the happiness and wellbeing </p>
            <p>Prioritising the happiness and wellbeing </p>
            `
        </div>
    </div>
</div>
