body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
  }
  body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    --primary-color: #435474;
    --primary-color-light: #1f2125;
    --primary-color-extra-light: #35373b;
  }
  h1 {
    
    text-align: center;
    font-size: 50px;
    margin-bottom: 20px; 
    margin-top: 40px;
  }

  h2 {   
    text-align: center;
    font-size: 30px;
  }
   p {
   display: flex;
}
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: 20px;
   
  
  }
  
  .product-card {
    width: 300px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    margin: 20px;
    transition: transform 0.3s ease-in-out;
  }
  
  .product-card:hover {
    transform: scale(1.05);
  }
  
  .card-image {
    width: 90%;
    height: 320px;
    object-fit: cover;
  
  }
  
  .card-content {
    padding: 15px;
  }
  
  .card-title {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .para{
   margin-left: 240px;
  }
  h3{
    font-size: 20px;
  }